@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define custom properties (variables) */
@layer base {
    :root {
        --color-primary: #4f46e5;
        /* Indigo 600 */
        --color-primary-hover: #4338ca;
        /* Indigo 500 */
        --color-background: #f3f4f6;
        /* White background */
        --color-text-primary: #1f2937;
        /* Gray 900 */
        --color-text-secondary: #4b5563;
        /* Gray 600 */
        --color-border-active: rgba(255, 255, 255, 0.2);
        /* White/20 */
        --color-border-inactive: rgba(107, 114, 128, 0.1);
        /* Gray 600/10 */
        --bg-gradient-start: rgba(79, 70, 229, 0.2);
        /* Indigo 100/20 */
        --bg-gradient-end: rgba(79, 70, 229, 0.2);
        /* Indigo 100/20 */
        --shadow-indigo: rgba(79, 70, 229, 0.1);
        /* Shadow-indigo-600/10 */
        --ring-indigo: rgba(249, 250, 251, 0.5);
        /* Ring-indigo-50 */
        --bg-indigo-100-opacity: rgba(99, 102, 241, 0.2);
        /* Indigo 100 opacity-20 */
    }
}

/* Block: wrapper */
.wrapper {
    @apply isolate overflow-hidden;
    margin-top: .2rem
}

/* Block: button */
.button {
    @apply rounded-full px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm border-black border;
}